@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  src: local('League Spartan'), url(./assets/fonts/LeagueSpartan-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    src: local('League Spartan'), url(./assets/fonts/LeagueSpartan-Medium.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url('./assets/pointer/pointer.png'), default;
}

@layer base {
  h1 {
    @apply font-spartan font-bold text-2xl;
  }

  h2 {
    @apply font-spartan font-bold text-xl;
  }

  h3 {
    @apply font-spartan font-bold text-l;
  }
}

@layer components {
  .text-base-bold {
    @apply font-spartan font-bold text-base;
  }

  .text-base-medium {
    @apply font-spartan font-medium text-base;
  }

  .text-sm-custom {
    @apply font-spartan font-medium text-sm;
  }
  .theme-styles {
    @apply bg-custom-dark-3 dark:bg-custom-dark-2 transition-colors duration-700
  }
}
